<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= h params[:title] %> :: Example App</title>
  </head>
  <body id="example_app">
    <h1 id="route_tags">Route Tags</h1>
    <pre>params[:tag] = <%= h params[:tag] %></pre>
    <%= yield %>
  </body>
</html>
